.button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: #2c421d;
    background-color: #b09e75;

    &:hover {
        color: #68602b;
        background-color: #78b83a;
    }
}