.remarks {
    display: flex;
    flex-direction: column;
    // margin-right: 20%;
    margin-top: 5%;
    margin: 5% 4rem 0 1rem;
    flex: auto;

    h2 {
        text-align: center;
        font-size: xx-large;
        margin-bottom: 2rem;
    }
    #textArea {
        border-radius: 10px;
        padding: 15px;
        font-size: xx-large;
        font-style: italic;
        color: #355e39;
    }
}

@media screen and (max-width: 800px) {
    .remarks {
        margin-left: 4rem;
        h2{
                font-size: x-large;
        }
    }
}
