.checkout {
    .checkout-container {
        
        .success-container {
            margin: 2rem 1rem;
            
            .wrapper {
                display: flex;
                justify-content: center;
                align-items: center;

                .success-box {
                    padding: 1rem;
                    border: 2px solid black;
                    text-align: center;
                    border-radius: 20px;
                    width: 50%;

                    @media screen and (max-width: 800px) {
                        width: 70%;
                    }

                    @media screen and (max-width: 600px) {
                        width: 90%;
                    }
                }
            }
        }

        .confirmation-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1;
        
            background-color:#355e39 ;
            border-bottom-left-radius: 120px;
            
            .confirmation {
                align-self: center;
                padding: 3rem;
                color: whitesmoke;
                // flex: auto;
                // border: 2px solid rgb(17, 124, 17);
                border-radius: 10px;
                // width: 100vw;
                
                
                .head-text {
                    text-align: center;
                    font-size: 2.5rem;
                    font-weight: 800;
                    max-width: 400px;
                    min-width: 250px;

                    @media screen and (max-width: 800px) {
                        font-size: 1.75rem;
                    }
                }

                .ingredients-table {
                    width: 100%;
                    min-width: 250px;
                    max-width: 400px;

                    tbody {
                        width: 100%;
                        tr {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;

                            td {
                                
                            }
                        }
                        .total-price {
                            font-weight: bold;
                            font-size: larger;
                            border-top: 1px solid;
                            margin-top: 1rem;
                            padding-top: 1rem;
                        }
                    }
                }
            }
            @media screen and (max-width: 800px){
                border-radius: 50px;
            }
        }
    }
}