.home {
    text-align: center;
    background-color: #faefde;
}

.howTo {
    border: 5px solid rgb(46, 44, 44);
    width: 50%;
    margin: 15px 25%;
    border-radius: 10px;

    p {
        margin-bottom: 20px;
    }

    img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .howTo {
        img {
            max-width: 50%;
        }
    }
}
