.app {
    background-color: #f1f5f1;
    font-family: var(--font-base);
    min-height: 100vh;
}

.head-text {
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    color: var(--black-color);
    text-transform: capitalize;

    @media screen and (min-width: 2000px) {
        font-size: 4rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 2rem;
    }
}

.p-text {
    font-size: 0.8rem;
    text-align: left;
    color: var(--gray-color);
    line-height: 1.5;

    @media screen and (min-width: 2000px) {
        font-size: 1.75rem;
    }
}

.customize {
    display: flex;
    height: auto;

    .image-container {
        flex: auto;
        width: 500px;
        align-self: center;
        padding: 40px;
        height: 550px;

        .inner-image-container {
            position: relative;
            
            .ingredients {
                position: absolute;
            }

            .z1 {
                z-index: 1;
            }

            .z2 {
                z-index: 2;
            }

            .z3 {
                z-index: 3;
            }
            .z4 {
                z-index: 4;
            }
            .z5 {
                z-index: 5;
            }
        }
    }

    .checkboxes-container {
        height: 550px;
        flex: auto;
        margin: 40px 0;
        overflow-y: scroll;   
        
        .container-checkbox {
            display: flex;
            justify-content: space-around;
            width: 250px;
            position: relative;
            padding: 5px 10px;
            margin: 0 20px 12px 20px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            
            img {
                pointer-events: none;
            }

            p {
                align-self: center;
                pointer-events: none;
            }
        }

        @media screen and (max-width: 700px) {
            height: 200px;
            display: flex;
            overflow-x: scroll;
            margin-top: 100px;

            .container-checkbox {
                min-width: 250px;
                min-height: 10vh;

                img{
                    width: 25%;
                    height: 100%;
                }

                p {
                    align-self: center;
                }
            }
        }
    }

    @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;
        .image-container {
            height: 500px;
        }

        .checkboxes-container {
            height: auto;
        }
    }

    @media screen and (max-width: 500px) {
        .image-container {
            height: 300px;
            width: 400px;
        }
    }

    @media screen and (max-width: 400px) {
        .image-container {
            width: 300px;
        }
    }
}

.navigation {
    margin: 0 10px;
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    position:fixed;
    top: 0;
    right: 0;
    z-index: 10;


    .navigation-dot {
        text-decoration: none;
        text-align: center;
        border-radius: 5px;

        img {
            width: 25px;
            height: 25px;
        }
    }
}