.square-shape {
  width: 250px;
  height: 250px;
  background-color: rgba(250, 184, 66, 1);
  border-radius: 5px;
  box-shadow: inset 10px 8px 10px 5px rgba(255, 255, 255, 0.66), 10px 10px 15px -7px rgba(0, 0, 0, 0.46);
}